* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins',sans-serif;
}
.clock {
   width: 350px;
   height:350px;
   background-color: rgba(12, 247, 149,0.5);
   border: 5px solid rgb(2, 19, 70);
   border-radius: 50%;
   position:absolute;
   top:20%;
   left: 37%;
}
.point {
    width:10px;
    height:10px;
    border: 5px solid black;
    border-radius: 50%;
    color:black;
    position:absolute;
    top:49%;
    left:48%;
}
.hour {
    font-size: 20px;
    font-weight: bold;
    color:black;
    position:absolute;
}
.hour-1  {
    top:35px;
    left:245px;
}
.hour-2  {
    top:85px;
    left:305px;
}
.hour-3  {
    top:160px;
    left:320px;
}
.hour-4  {
    top:235px;
    left:310px;
}
.hour-5  {
    top:295px;
    left:255px;
}
.hour-6  {
    top:315px;
    left:170px;
}
.hour-7  {
    top:295px;
    left:85px;
}
.hour-8  {
    top:235px;
    left:20px;
}
.hour-9  {
    top:165px;
    left:10px;
}
.hour-10  {
    top:90px;
    left:25px;
}
.hour-11  {
    top:35px;
    left:70px;
}
.hour-12  {
    top:15px;
    left:155px;
}
.minute-hand-wrapper {
    width:200px;
    height:200px;
    position: absolute;
    top:70px;
    left:70px;
    border-radius:50%;
}
.minute-hand {
    position:relative;
}
.minute-hand-wrapper .hand {
    width:3px;
    height:105px;
    background-color: rgb(133, 25, 235);
    position: absolute;
    left:49%;
}
.minute-hand-wrapper .arrow {
    font-size: 20px;
    font-weight:bold;
    color:rgb(133, 25, 235);
    transform: rotate(180deg);
    position: absolute;
    left:93px;
    top:-10px;
}
.hour-hand-wrapper {
    width:150px;
    height:150px;
    position: absolute;
    top:95px;
    left:95px;
    border-radius:50%;
}
.hour-hand {
    position:relative;
}
.hour-hand-wrapper .hand {
    width:3px;
    height:75px;
    background-color: red;
    position: absolute;
    top:5px;
    left:47%;
}
.hour-hand-wrapper .arrow {
    font-size: 20px;
    font-weight:bold;
    color:red;
    transform: rotate(180deg);
    position: absolute;
    left:66px;
    top:-4px;
}
.second-hand-wrapper {
    width:150px;
    height:150px;
    position: absolute;
    top:95px;
    left:95px;
    border-radius:50%;
}
.second-hand {
    position:relative;
}
.second-hand-wrapper .hand {
    width:2px;
    height:140px;
    background-color: rgb(165, 158, 158);
    position: absolute;
    top:-55px;
    left:49%;
}